version: 2
updates:
  - package-ecosystem: "bun"

    directory: "/"

    schedule:
      interval: "daily"

    commit-message:
      prefix: "chore(deps):"

    labels: [dependencies, internal]

    target-branch: "dev" 

  - package-ecosystem: "github-actions"

    directory: "/"

    schedule:
      interval: "weekly"

    commit-message:
      prefix: "chore(deps):"

    labels: [dependencies, internal]
    
    target-branch: "dev"  